.wd-no-underline {
    text-decoration: none;
}
.wd-explore-post-img {
    width: 100%;
    height: 100%;
    padding: 5px;
}
.wd-follow-img {
    width: 120%;
    height: 90%;
}
.wd-blue {
    color:dodgerblue;
}
.wd-bg-white {
    background-color: white;
}
.wd-bg-black {
    background-color: black
}
.wd-button-big {
    width:100%;
}
.wd-container {
    position: relative;
    text-align: center;
    color: white;
}
.wd-bottom-left-text {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
}
.wd-font-24 {
    font-size: 24px;
}

.wd-font-12 {
    font-size: 12px;
}

.wd-font-white-12 {
    font-size: 12px;
    color: white;
}

.wd-font-white-24 {
    font-size: 24px;
    color: white;
}