.wd-top-offset {
    margin-top: 12px;
}
.wd-top-padding {
    padding-top: 12px;
}
.wd-bottom-offset {
    margin-bottom: 12px;
}
.wd-left-offset {
    margin-left: 12px;
}
.wd-bottom-border {
    border-bottom-color: rgb(47, 51, 54);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.wd-left-offset2 {
    margin-left: 80px;
}
.wd-bookmarks-title {
    color: white;
    font-size: 20px;
}
.wd-bookmarks-user {
    color: gray;
    font-size: 13px;
}
.wd-avatar-dimensions {
    height: 48px;
    width: 48px;
    border-radius: 24px;
}
.wd-gray-title {
    color: gray;
    font-size: 15px;
}
.wd-red-title {
    color: red;
    font-size: 15px;
}
.wd-white-body {
    color: white;
    font-size: 15px;
    max-width: 506px;
    margin-right: 16px;
}
.wd-content-photo-dimensions {
    height: 264px;
    width: 504px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(47, 51, 54);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.wd-content-text-dimensions {
    padding: 12px;
    width: 480px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(47, 51, 54);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.wd-col-quarter-page {
    width: 25%;
    float: left;
}